In [1]:
import pandas as pd
import boto3
import json

In [2]:
%load_ext sql

In [3]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dwh
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Passw0rd
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME  dwhProject

In [4]:
import boto3
ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

In [5]:
from botocore.exceptions import ClientError

#1.1 Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.1 Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name dwhProject already exists.
1.2 Attaching Policy
1.3 Get the IAM role ARN
arn:aws:iam::369419204024:role/dwhProject

## Create cluster

In [6]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

## *Describe* the cluster to see its status

In [11]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.ccolhdkpkybx.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0c7589dc2abe742bb
7,NumberOfNodes,4

In [11]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-0701f2e1facbfa845')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

In [14]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.ccolhdkpkybx.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::369419204024:role/dwhProject

In [15]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.ccolhdkpkybx.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

## staging tables vs analytic tables
1. Number of records

In [26]:
%sql SELECT count(*) from events where page = 'NextSong'

 * postgresql://dwhuser:***@dwhcluster.ccolhdkpkybx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(6820,)]

In [27]:
%sql select count(*) from factSongplay

 * postgresql://dwhuser:***@dwhcluster.ccolhdkpkybx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(6820,)]

2. Number of users

In [28]:
%sql select count(distinct user_id) from events

 * postgresql://dwhuser:***@dwhcluster.ccolhdkpkybx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(97,)]

In [29]:
%sql select count(*) from dimUser

 * postgresql://dwhuser:***@dwhcluster.ccolhdkpkybx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(105,)]

3. number of songs

In [31]:
%sql select count(*) from songs

 * postgresql://dwhuser:***@dwhcluster.ccolhdkpkybx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [32]:
%sql select count(*) from dimSong

 * postgresql://dwhuser:***@dwhcluster.ccolhdkpkybx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

4. number of artists

In [33]:
%sql select count(distinct artist_id) from songs

 * postgresql://dwhuser:***@dwhcluster.ccolhdkpkybx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(9553,)]

In [34]:
%sql select count(*) from dimArtist

 * postgresql://dwhuser:***@dwhcluster.ccolhdkpkybx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [43]:
%%sql
select
    title as song_title,
    name as artist_name,
    count(*) as times_played
from factSongplay f 
inner join dimSong s on f.song_id = s.song_id
inner join dimArtist a on f.artist_id = a.artist_id
group by title,name order by 3 desc limit 20

 * postgresql://dwhuser:***@dwhcluster.ccolhdkpkybx.us-west-2.redshift.amazonaws.com:5439/dwh
20 rows affected.

[("You're The One", 'Dwight Yoakam', 37),
 ("I CAN'T GET STARTED", 'Ron Carter', 9),
 ('Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 'Lonnie Gordon', 9),
 ("Nothin' On You [feat. Bruno Mars] (Album Version)", 'B.o.B', 8),
 ("Hey Daddy (Daddy's Home)", 'Usher featuring Jermaine Dupri', 6),
 ("Hey Daddy (Daddy's Home)", 'Usher', 6),
 ('Up Up & Away', 'Kid Cudi', 5),
 ('Make Her Say', 'Kid Cudi / Kanye West / Common', 5),
 ('Up Up & Away', 'Kid Cudi / Kanye West / Common', 5),
 ('Make Her Say', 'Kid Cudi', 5),
 ('Unwell (Album Version)', 'matchbox twenty', 4),
 ('Mr. Jones', 'Counting Crows', 4),
 ('Supermassive Black Hole (Album Version)', 'Muse', 4),
 ('Rianna', 'Fisher', 3),
 ('Fade To Black', 'Metallica', 3),
 ("Let's Get It Started", 'Black Eyed Peas / Terry Dexter', 3),
 ("Let's Get It Started", 'Black Eyed Peas', 3),
 ('Given Up (Album Version)', 'Linkin Park', 3),
 ('From The Ritz To The Rubble', 'Richard Hawley And Death Ramps_ Arctic Monkeys', 3),
 ('From The Ritz To The Rubble', 'Arctic Monkeys', 3)]

In [45]:
%%sql
select
    name as artist_name,
    count(*) as times_played
from factSongplay f 
inner join dimArtist a on f.artist_id = a.artist_id
group by name order by 2 desc limit 5

 * postgresql://dwhuser:***@dwhcluster.ccolhdkpkybx.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Dwight Yoakam', 37),
 ('Kid Cudi / Kanye West / Common', 10),
 ('Kid Cudi', 10),
 ('Ron Carter', 9),
 ('Lonnie Gordon', 9)]

In [54]:
%%time
%%sql
select 
    t.start_time,
    s.title as song_title,
    a.name as artist_name,
    u.first_name as user_first_name,
    u.last_name as user_last_name,
    u.level as user_level
from factSongplay f
inner join dimTime t on f.start_time = t.start_time
inner join dimSong s on f.song_id = s.song_id
inner join dimArtist a on f.artist_id = a.artist_id
inner join dimUser u on f.user_id = u.user_id
where t.year = 2018 
and t.month = 11
and u.user_id = 8
order by 1

 * postgresql://dwhuser:***@dwhcluster.ccolhdkpkybx.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.
CPU times: user 7.61 ms, sys: 0 ns, total: 7.61 ms
Wall time: 13.1 s

[(datetime.datetime(2018, 11, 1, 21, 11, 13, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Eriatarka', 'The Mars Volta', datetime.datetime(2018, 11, 1, 21, 11, 13, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 21, 1, 44, 11, 2018, 4, 8, 'Kaylee', 'Summers', 'F', 'free'),
 (datetime.datetime(2018, 11, 27, 4, 25, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 'Given Up (Album Version)', 'Linkin Park', datetime.datetime(2018, 11, 27, 4, 25, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 4, 27, 48, 11, 2018, 2, 8, 'Kaylee', 'Summers', 'F', 'free')]

In [59]:
%%time
%%sql
select 
    u.user_id,
    u.first_name as user_first_name,
    u.last_name as user_last_name,
    u.gender as user_gender,
    sum(duration) as total_listening_time
from factSongplay f
inner join dimTime t on f.start_time = t.start_time
inner join dimSong s on f.song_id = s.song_id
inner join dimUser u on f.user_id = u.user_id
where t.month = 11
group by u.user_id,u.first_name,u.last_name,u.gender order by 5 desc limit 10

 * postgresql://dwhuser:***@dwhcluster.ccolhdkpkybx.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.
CPU times: user 6.59 ms, sys: 0 ns, total: 6.59 ms
Wall time: 6.18 s

[(49, 'Chloe', 'Cuevas', 'F', 21824.8509),
 (80, 'Tegan', 'Levine', 'F', 16614.11066),
 (88, 'Mohammad', 'Rodriguez', 'M', 8524.57562),
 (15, 'Lily', 'Koch', 'F', 7616.77008),
 (29, 'Jacqueline', 'Lynch', 'F', 6324.44206),
 (97, 'Kate', 'Harrell', 'F', 6302.62892),
 (36, 'Matthew', 'Jones', 'M', 5708.2676),
 (44, 'Aleena', 'Kirby', 'F', 5098.4399),
 (73, 'Jacob', 'Klein', 'M', 4771.28326),
 (85, 'Kinsley', 'Young', 'F', 3112.0655)]

## Delete cluster

In [60]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'dwhuser',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.ccolhdkpkybx.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2022, 9, 12, 11, 23, 10, 946000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-0701f2e1facbfa845',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-0c7589dc2abe742bb',
  'AvailabilityZone': 'us-west-2b',
  'PreferredMaintenanceWindow': 'fri:06:00-fri:06:30',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::369419204024:role/dwhProject',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': '13a4d5f3-cca4-4f18-b87b-76cc6f3abce7',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '13a4d5f3-cca4-4f18-b87b-76cc6f3abce7',
   'content-type': 'text/xml',
   'content-length': '2706',
   'vary': 'accept-encoding',
   'date': 'Mon, 12 Sep 2022 12:06:55 GMT'},
  'RetryAttempts': 0}}

In [62]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

ClusterNotFoundFault: An error occurred (ClusterNotFound) when calling the DescribeClusters operation: Cluster dwhcluster not found.

In [ ]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
#### CAREFUL!!